---
const { color, title, id } = Astro.props
const textColor = `text-${color}`
---

<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" id=`${id}`
data-header-color={color}>
  <div class="relative z-30 h-full flex flex-col pt-[152px]">
    <header class="flex flex-col justify-center items-center">
      <div>
        <h2 class={`${textColor} text-[40px] font-medium tracking-[-0.7px]`}>{title}</h2>
      </div>
      <div>
        <slot name="subtitle" />
      </div>
    </header>
    <footer class="flex flex-grow justify-end items-center flex-col text-white">
      <slot name="footer" />
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 w-full h-full z-10">
    <slot name="background" />
  </div>
</section>